body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#F3EFE9;
}
.container:hover {
  background-color: #404558;
  transform: scale(1.025);
  transition: .3s;
}
.container:hover .title {
  color: white;
}
.container:hover .mini-container {
  border-top: 2px dashed white;
}